/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

footer,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

footer {
  text-transform: capitalize;
}

html,
body,
.app,
.home,
.gameboard,
.result {
  height: 100vh;
  width: 100vw;
}

.home,
.gameboard,
.result {
  padding: 5vw;
}

@media only screen and (orientation: landscape) {
  .home,
.gameboard,
.result {
    padding: 24px;
  }
}
.home {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.home main {
  align-self: center;
  justify-self: center;
}

.home footer {
  justify-self: center;
}

.result {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.result main {
  align-self: center;
  justify-self: center;
}

.gameboard {
  display: grid;
  height: 100%;
  gap: 3vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
}

@media only screen and (orientation: landscape) {
  .gameboard {
    gap: 3vh;
    margin: 0 auto;
    width: 80vh;
  }
}
.card {
  background-color: transparent;
  perspective: 1000px;
  user-select: none;
}

.card-wrapper {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 100%;
}

.flip-card {
  transform: rotateY(180deg);
}

.card-back, .card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card-back {
  background-image: url("../../img/card-pattern.png");
  background-size: 90%;
  border: 3px solid hsl(19deg, 68%, 62%);
}

.card-front {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 99%);
  border: 3px solid hsl(19deg, 68%, 62%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  transform: rotateY(180deg);
}

.card-disable {
  transform: scale(0.5, 0.5);
}

.button {
  background-color: hsl(19deg, 100%, 93%);
  border-color: hsl(19deg, 68%, 62%);
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: hsl(19deg, 63%, 27%);
  cursor: pointer;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 800;
  padding: 12px 36px;
  text-transform: uppercase;
}

.fade-in-anim {
  animation: fade-in 400ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home main {
  display: grid;
}

.home h1 {
  margin-bottom: 36px;
}

.result main {
  display: grid;
}

.result h1 {
  margin-bottom: 36px;
}

.result button {
  margin-top: 36px;
}

.result-stats {
  align-items: center;
  display: grid;
  justify-items: center;
  margin-top: 12px;
}

.result-stats p {
  font-weight: 600;
}

.app {
  background: radial-gradient(circle, rgb(203, 255, 209) 32%, rgb(84, 248, 255) 100%);
}

/*# sourceMappingURL=styles.css.map */
