.gameboard {
  display: grid;
  height: 100%;
  gap: 3vw;
  grid-template: {
    columns: repeat(4, 1fr);
    rows: repeat(6, 1fr);
  }
  width: 100%;
}

@media only screen and (orientation: landscape) {
  .gameboard {
    gap: 3vh;
    margin: 0 auto;
    width: 80vh;
  }
}
