.card {
  background-color: transparent;
  perspective: 1000px;
  user-select: none;
}

.card-wrapper {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 100%;
}

.flip-card {
  transform: rotateY(180deg);
}

.card-back, .card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card-back {
  background: {
    image: url('../../img/card-pattern.png');
    size: 90%;
  }
  border: 3px solid hsl(19, 68%, 62%);
}

.card-front {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(0, 0%, 99%);
  border: 3px solid hsl(19, 68%, 62%);
  display: grid;
  grid-template: {
    columns: 1fr;
    rows: 1fr;
  }
  justify-items: center;
  transform: rotateY(180deg);
}

.card-disable {
  transform: scale(0.5, 0.5);
}
