* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font: {
    size: clamp(1.5rem, 4vw, 2.5rem);
    weight: 800;
  }
  text: {
    transform: uppercase;
    align: center;
  }
}

footer,
p {
  font: {
    family: Arial, Helvetica, sans-serif;
    size: clamp(1rem, 2vw, 1.5rem);
  }
}

footer {
  text-transform: capitalize;
}
